@model IEnumerable<InlaksIB.Resource>

@{
    ViewBag.Title = "Setup Resources";
    Layout = "~/Views/Home/HomeLayout.cshtml";
}
<div class="col-md-9">

    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Resource Setup</div>
        </div>
        <div class="panel-body">




            @{
                var mode = (string)ViewBag.Mode;

                if (string.IsNullOrEmpty(mode))
                {
                    <p>
                        @Html.ActionLink("Create New", "ResourceSetup", new { id = 0, mode = "create" })
                    </p>
                }
                else
                {
                    var resource = (Resource)ViewBag.Resource;

                    Html.RenderPartial(mode, resource);
                }

            }

            </div>
    </div>

    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Resources</div>
        </div>
        <div class="panel-body">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="migtable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ResourceName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.value)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Module.ModuleName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ResourceName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Module.ModuleName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "ResourceSetup", new { id = item.ResourceID, mode = "edit" }) |
                                @Html.ActionLink("Delete", "ResourceSetup", new { id = item.ResourceID, mode = "delete" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        </div>

    </div>
